body {
  background-color: #FFF8E7;
  font-family: Arial, sans-serif;
}

h1 {
  color: #6E2636;
  font-size: 40px;
  text-align: center;
  font-family: Georgia, serif;
}

h2 {
  font-weight:bold;
  margin: 20px;
  padding: 30px;
  background-color: #D8A0A6;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  line-height: 1.6;
  width: 70%;
  max-width: 600px;
  margin: auto;
}

#iglesia {
  background-color: #C9A227;
}

#momentos-especiales {
  color: #3A241A;
}

.recuerdo {
  background-color: #D8A0A6;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.recuerdo img {
  width: 100%;
  border-radius: 10px;
}
